table {
    width: 100%;
    border-collapse: collapse;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    cursor: default;
}

th {
    background: #ddd;
    text-transform: uppercase;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #bbb;
    color: rgb(78, 78, 78);
}

td {
    padding: 10px;
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
    font-size: 14px;
}

.receita {
    background: #c3f7c3;
    color: #2b6e2b;
}

.despesa {
    background: #f7c3c3;
    color: #6e2b2b;
}

.despesa-futura {
    background: #f7e0c3;
    color: #6e4b2b;
}

tr:hover td {
    background: rgba(0, 0, 0, 0.05);
}

tr {
    transition: scale 0.2s ease-in-out;
}

tr:hover {
    scale: 1.1;
}

.transaction-date {
    text-transform: none;
}

.category-icon:hover {
    width: 10px;
    animation: shake 500ms alternate-reverse;
}
